.button {
    border-radius: 18px;
    padding: 6px 1rem;
    margin: 6px;
    outline: none;
}

.button:active,
.button:focus{
    outline: none;
}

.button:focus{
    transform: scale(1.1);
}

.button:hover{
    transform: scale(1.1);
    transition: 300ms;
}

.button-primary {
    border: 2px solid #87CEEB;
    background-color: white;
}

.button-primary:hover{
    background-color: #87CEEB;
    color: white;
}